
html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}
h1 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}
h2 {
  margin-left: 100px;
  padding: 10px;
  font-size: 25px;
}

ul {
  min-height: 100%;
  margin: 0;
  padding: 0 0 0 1.5em;
}

.tasksListView {
  margin-left: 100px;
  padding: 10px;
  font-size: 20px;
  background: green;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  max-width: 50%;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  position: absolute;
  right: 20px;
  padding: 10px;
  max-width: 800px;
  max-height: 500px;
  margin: 0 auto;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-menu {
  background: cadetblue;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.tasksViewList {
  height: 100%
}